{% extends "base.html" %}

{% block content %}
<div id="app">
  <v-container grid-list-md text-xs-center>
    <h1 class="headline">{{script.src_title}}</h1>
    <div style="margin: 30px 0;">
      <textarea class="subheading" readonly
        style="width: 100%; height: 500px; border: 1.5px solid#B2DFDB; resize: none;">
        {{script.text}}
      </textarea>
    </div>

    <h6 class="title" style="margin: 30px 0;">녹음하실 부분을 밑의 영역에 붙여 넣어주시고, 자동 변환버튼을 눌러주세요</h6>
    <div style="margin: 30px 0;">
      <textarea class="subheading" v-model="paragraph"
        style="width: 100%; height: 300px; border: 1.5px solid#B2DFDB; resize: none;"></textarea>
    </div>
    <v-btn outline color="teal" @click="divideParagraph(paragraph)"> 녹음목록 생성 </v-btn>

    <v-layout row wrap>
      <v-data-table :headers="table_headers" :items="records" :pagination.sync="pagination" :rows-per-page-items=10
        class="elevation-1" style="width: 100%; margin: 20px 0;">
        <template slot="items" slot-scope="props">
          <td class="text-xs-center">[[ props.index ]]</td>
          <td class="text-xs-left" style="min-width: 60%;">[[ props.item.sentence ]]</td>
          <td class="text-xs-right">[[ props.item.duration ]]</td>
          <!-- <td class="text-xs-right">[[ props.item.url ]]</td> -->
          <!-- <td class="text-xs-right">[[ props.item.filename ]]</td> -->
          <td class="text-xs-right">
            <v-btn small outline color="teal" @click="removeRecord(props.index)" v-show="record_index-props.index==1"> 녹음 삭제
            </v-btn>
          </td>
          <td class="text-xs-right">
            <v-btn small outline color="teal" @click="removeSentence(props.index)"> 전체 삭제 </v-btn>
          </td>
        </template>
      </v-data-table>
    </v-layout>
    <audio-recorder style="margin: 20px auto;" :upload-url="url" :attempts="records.length" :time="0.5"
      :headers="http_headers" :after-recording="afterRecording" />
  </v-container>
  <v-btn style="width: 100%; margin: 0;" large outline color="teal" @click="upload()">Upload All</v-btn>
</div>


{% endblock %}

{% block javascript %}
<style>
  .v-list__tile {
    min-height: 48px;
    height: auto;
  }

  .v-table__overflow {
    height: 750px;
    overflow-y: scroll;
  }
</style>
<script type="text/javascript" src="/static/js/lib/vue-audio-recorder.min.js"></script>
<script type="text/javascript" src="/static/js/lib/vue-resource.min.js"></script>

<script type="text/javascript">

  Vue.use(VueAudioRecorder)

  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      pagination: {
        page: 0,
        rowsPerPage: -1
      },
      table_headers: [
        {
          text: "index",
          align: "center",
          sortable: false,
          width: "2%",
        },
        {
          text: "sentence",
          align: "left",
          sortable: false,
          value: "sentence",
          width: "60%",
        },
        {
          text: "duration",
          align: "center",
          sortable: false,
          value: "duration",
          width: "5%",
        },
        // {
        //   text: "url",
        //   align: "right",
        //   sortable: false,
        //   value: "url",
        //   width: "13%",
        // },
        // {
        //   text: "filename",
        //   align: "right",
        //   sortable: false,
        //   value: "filename",
        //   width: "10%",
        // },
        {
          text: "delete record",
          align: "center",
          sortable: false,
          value: "",
          width: "5%",
        },
        {
          text: "delete all",
          align: "center",
          sortable: false,
          value: "",
          width: "5%",
        }
      ],
      http_headers: {
      },
      rows_per_page: [3, 20, 10],
      paragraph: "",
      record_index: 0,
      records: [],
      url: "/voice/" + {{ user.id | tojson | safe }} + "/" + {{ script.id | tojson | safe }}
    },
  methods: {
    divideParagraph: function (paragraph) {
      let lines = paragraph.replace(/\)/g, ".").replace(/\(/g, "").replace(/\:/g, ",").split(/\.|\n/g)
      for (let i = 0; i < lines.length; i++) {
        if (lines[i].trim() != "") {
          this.records.push({
            sentence: lines[i],
            filename: "",
            blob: {},
            url: "",
            duration: 0
          })
        }
      }
      this.paragraph = ""
    },
    afterRecording: function(e) {
      this.records[this.record_index].filename = Date.now().toString() + ".mp3"
      this.records[this.record_index].duration = e.duration
      this.records[this.record_index].blob = e.blob
      this.records[this.record_index].url = e.url
      this.record_index += 1
      return e
    },
    removeSentence: function(index) {
      this.records.splice(index, 1)
    },
    removeRecord: function(index) {
      if (this.records[index].filename != "") {
        let temp = {
          sentence: this.records[index].sentence,
          filename: "",
          blob: {},
          url: "",
          duration: 0
        }
        this.records.splice(index, 1)
        this.records.splice(index, 0, temp)
        this.record_index -= 1
      }
    },
    upload: function() {
      for (let i = 0; i < this.record_index; i++) {
        let headers = {}
        let data = new FormData()

        data.append('audio', this.records[i].blob, `${this.records[i].filename}.mp3`)
        data.append('duration', this.records[i].duration)
        data.append('sentence', this.records[i].sentence)
        data.append('filename', this.records[i].filename)

        headers['Content-Type'] = `multipart/form-data; boundary=${data._boundary}`

        this.$http.post(this.url, data, { headers: headers }).then(resp => {
          console.log('succeess', resp)
        }).catch(error => {
          console.log('fail', error)
          alert("some request is failed")
        })
      }
      alert("All upload is completed")
    }
  }
  });
</script>
{% endblock %}
