{% extends "base.html" %}

{% block content %}
<div id="app">
  <v-container grid-list-md text-xs-center>
    <h1 class="headline">{{script.src_title}}</h1>
    <div style="margin: 30px 0;">
      <textarea class="subheading" readonly style="width: 100%; height: 500px; border: 1.5px solid #4caf50; resize: none;">
        {{script.text}}
      </textarea>
    </div>

    <h6 class="title" style="margin: 30px 0;">녹음하실 부분을 밑의 영역에 붙여 넣어주시고, 자동 변환버튼을 눌러주세요</h6>
    <div style="margin: 30px 0;">
      <textarea class="subheading" v-model="paragraph" style="width: 100%; height: 300px; border: 1.5px solid #4caf50; resize: none;"></textarea>
    </div>
    <v-btn outline color="indigo" @click="divideParagraph(paragraph)"> 녹음목록 생성 </v-btn>

    <v-layout row wrap>
      <v-flex xs8>
        <v-card style="margin: 30px 0;">
          <v-toolbar color="cyan" dark>
            <v-toolbar-title dark>녹음 문구 리스트</v-toolbar-title>
          </v-toolbar>
          <v-list style="height: 500px; overflow: auto;">
            <v-list-tile v-for="(sentence, index) in sentences" :key="index" style="height: fit-content;">
              <v-list-tile-content style="height: auto; overflow: auto;">
                <v-list-tile-title style="white-space: normal; height: auto;">[[sentence]]</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon @click="removeSentence(index)">backspace</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
      <v-flex xs4>
        <v-card style="margin: 30px 0;">
          <v-toolbar color="cyan" dark>
            <v-toolbar-title dark>녹음 결과파일</v-toolbar-title>
          </v-toolbar>
          <v-list style="height: 500px; overflow: auto;">
            <v-list-tile v-for="(record, index) in records" :key="index" style="height: fit-content;">
              <v-list-tile-content style="height: auto; overflow: auto;">
                <v-list-tile-title style="white-space: normal; height: auto;">[[record.filename]]</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-icon @click="removeRecord(index)">backspace</v-icon>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>

    <v-btn outline color="success" @click="upload()">Upload All</v-btn>
    <audio-recorder style="margin: 0 auto;" :upload-url="url" :attempts="sentences.length" :time="0.5" :headers="headers"
      :after-recording="afterRecording" />
  </v-container>
</div>


{% endblock %}

{% block javascript %}
<style>
  .v-list__tile {
    min-height: 48px;
    height: auto;
  }
</style>
<script type="text/javascript" src="/static/js/lib/vue-audio-recorder.min.js"></script>
<script type="text/javascript" src="/static/js/lib/vue-resource.min.js"></script>

<script type="text/javascript">

  Vue.use(VueAudioRecorder)

  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      paragraph: "",
      sentences: [],
      record_index: 0,
      headers: {
      },
      records: [],
      url: "/voice/" + {{ user.id | tojson | safe }} + "/" + {{ script.id | tojson | safe }}
    },
  methods: {
    divideParagraph: function (paragraph) {
      let lines = paragraph.replace(/\)/g, ".").replace(/\(/g, "").replace(/\:/g, ",").split(/\.|\n/g)
      for (let i = 0; i < lines.length; i++) {
        if (lines[i].trim() != "") {
          this.sentences.push(lines[i])
        }
      }
      this.paragraph = ""
    },
    afterRecording: function(e) {
      e.sentence = this.sentences[this.record_index]
      e.filename = Date.now().toString() + ".mp3"
      this.record_index += 1
      this.records.push(e)
      return e
    },
    removeSentence: function(index) {
      this.sentences.splice(index, 1)
    },
    removeRecord: function(index) {
      this.records.splice(index, 1)
    },
    upload: function() {
      for (let i = 0; i < this.records.length; i++) {
        let headers = Object.assign(this.headers, {})
        let data = new FormData()

        data.append('audio', this.records[i].blob, `${this.records[i].filename}.mp3`)
        data.append('duration', this.records[i].duration)
        data.append('sentence', this.records[i].sentence)
        data.append('filename', this.records[i].filename)

        headers['Content-Type'] = `multipart/form-data; boundary=${data._boundary}`

        this.$http.post(this.url, data, { headers: headers }).then(resp => {
          console.log('succeess', resp)
        }).catch(error => {
          console.log('fail', error)
          alert("some request is failed")
        })
      }
      alert("All upload is completed")
    }
  }
  });
</script>
{% endblock %}