{% extends "base.html" %}

{% block content %}
<div id="app">
  <v-container grid-list-md text-xs-center>
    <h1 class="headline">녹음 내역</h1>

    <v-data-table :headers="headers" :items="voices" :rows-per-page-items="rows_per_page" class="elevation-1">
      <template slot="items" slot-scope="props">
        <td class="text-xs-right">[[ props.item.duration ]]</td>
        <td class="text-xs-right">[[ props.item.sentence ]]</td>
        <td class="text-xs-right">[[ props.item.filename ]]</td>
        <td class="text-xs-right">[[ props.item.created_at ]]</td>
      </template>
    </v-data-table>
  </v-container>
</div>
{% endblock %}

{% block javascript %}

<script type="text/javascript">

  var app = new Vue({
    el: '#app',
    delimiters: ['[[', ']]'],
    data: {
      headers: [
        { text: '길이', value: 'duration', sortable: false },
        { text: '녹음문장', value: 'sentence', sortable: false },
        { text: '파일명', value: 'filename', sortable: false },
        { text: '생성날짜', value: 'created_at', sortable: false},
      ],
      rows_per_page: [100, 50, 25],
      voices: {{ voices|safe }},
      hoit: {{ voices|safe }}
    },
    created: function() {
      console.log(this.hoit)
    }
  })
</script>

{% endblock %}
